
/*

*/

/* SELECTEUR UNIVERSEL => Signe étoile : permet de selection tout le code HTML */

*,
*::after, /* Applique les propriéts sur les éléments d'aprés */
*::before /* Applique les propriéts sur les éléments d'avant */
{
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*Active l'héritage sur le box-sizing => l'héritage permet de transmettre les propriétés du parent aux enfants*/
}

html {
    font-size: 62.5%; /* est le calcul de 10px divisé par 16px, 10px (pour simplifier) étant la valeure qu'on souhaite pour la taille de police par défaut et 16px la taille de police par défaut actuelle */
}

body {

    /* PROPRIETES DE POLICE => on le fait dans le Body */
    font-family: "Lato", sans-serif;
    font-weight: 400; /* Caractère police */
    /*font-size: 16px;  Taille de police */
    line-height: 1.7; /* Spécifie la hauteur d'une ligne de texte */
    color: #777;
    /* padding: 30px; */
    padding: 3rem; /* veut dire dans notre cas une taille égale à 3 * 10px soit 30px */
    box-sizing: border-box; /*Evite qu'un élement de dépasse de son parent à cause des marges/bordures ==> Ceci évite les affichages bizarres*/
}

.header {
    height: 95vh;
    /* background-image: url(./01-Assets/hero.jpg); */
    background-image: linear-gradient(
        to right bottom, 
        rgba(50, 61, 216, 0.507), 
        rgba(219, 136, 11, 0.863)),
        url(./01-Assets/hero.jpg);
    background-size: cover; /* Remplit complétement l'élement */
    background-position: top; /* Colle l'image toujours au dessus */
    position: relative;

    /* clip-path: polygon(x y, x y, x y, x y ); créer un polygone, coordonnées points dans le sens des éguilles d'une montre */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
    /* Exemple code clip-path : https://bennettfeely.com/clippy/ */

}

/* Nous allons placer le logo en haut à gauche */

.header__logo-box {
    position: absolute; /* Permet à l'élement de se placer au-dessus d'un autre élement */
    /* top: 40px; */
    top: 4rem;
    /* left: 40px; */
    left: 4rem;
}

.header__logo {
    /* height: 35px; */
    height: 3.5rem;
}


/* Nous allons placer le titre au centre */
.header__text-box {
    position: absolute; /* Permet à l'élement de se placer au-dessus d'un autre élement */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    /*backface-visibility: hidden;  la face arrière de l'élément est invisible, evite le reflet lors de l'animation */
    /* margin-bottom: 60px ; */
    margin-bottom: 6rem ;

}

.heading-primary--main {
    display: block; /* Occupe toute la ligne en créant un espace au-dessus et en dessus également */
    /* font-size: 60px; */
    font-size: 6rem;
    font-weight: 400;
    /*letter-spacing: 35px;  Espacement entre les mots */
    letter-spacing: 3.5rem; /* Espacement entre les mots */

    animation-name: moveInLeft; /* Appel de l'animation créee */
    animation-duration: 2s; /* Durée de l'animation */
    animation-delay: 1s; /* Délai d'attente avant le démarrage de l'animation */
    animation-iteration-count: 3; /* Nbre de répétition de l'animation */
    animation-timing-function: ease-out ;/* Définit une fonction de comment procede l'animation - acceleration en entrée / sortie par exemple */
}

.heading-primary--sub {
    display: block; /* Renvoie les autres elemnts à la ligne */
    /* font-size: 20px; */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem; /* Espacement entre les mots */

    animation: moveInRight 2s ease-out 1s 3;
}

/* ----------------- Nous allons créer une animation pour le titre du header ------------------*/

@keyframes moveInLeft {
    /* Caractéristique de l'animation (à quoi l'objet va ressembler) avant le début (0%) */
    0% {
        opacity: 0; /* objet invisible */
        transform: translateX(-100px) rotate(0deg);
    }

    /* Caractéristique de l'animation à 80%) */
    80% {
        transform: translateX(10px);
    }

    /* Caractéristique de l'animation à 100% de la durée) */
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    /* Caractéristique de l'animation (à quoi l'objet va ressembler) avant le début (0%) */
    0% {
        opacity: 0; /* objet invisible */
        transform: translateX(100px);
    }

    /* Caractéristique de l'animation à 80%) */
    80% {
        transform: translateX(-10px);
    }

    /* Caractéristique de l'animation à 100% de la durée) */
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes moveInBottom {
    /* Caractéristique de l'animation (à quoi l'objet va ressembler) avant le début (0%) */
    0% {
        opacity: 0; /* objet invisible */
        transform: translateY(30px);
    }


    /* Caractéristique de l'animation à 100% de la durée) */
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* -------------------Les pseudos classes ------------------------ */

.btn:link,  /* Séléctionne le lien du bouton*/
.btn:visited { /* Séléctionne le bouton en état visité*/
    text-transform: uppercase; /* Transforme le style en majuscule */
    text-decoration: none; /* Enlève la déoration du lien (trait de soulignement) */
    padding: 1.5em 4rem; /* 15px de marge intérieure en haut et en bas ET 40px de marge intérieure à droite et à gauche */
    display: inline-block; /* boîte qui se comporte comme du texte, une manière de mettre les éléments inline tout en préservant leurs capacités d'éléments block, tels que la possibilité de définir une largeur et une hauteur, des marges et paddings top et bottom, etc. */
    border-radius: 10rem; /* Arrondis aux extrémités du bouton*/
    position: relative;
    font-size: 1.6rem;
}

.btn:hover { /* Quand on survole avec la souris*/
    transform: translateY(-3px);
    transition: all .3s ; /* Inserer une transition à l'ensemble des propriétés (hover, active etc), version courte*/
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2); /* Rajoute de l'ombre*/
}

.btn:active { /* Quand on clique avec la souris*/
    transform: translateY(-1px);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after { /* création d'un element fictif avant le bouton */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* place l'élement derrière */
    transition: all .4s;
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after { /* Quand on survole avec la souris l'élement fictif avant le bouton*/
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

.btn--animated  {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: moveInBottom 0.5 ease-in-out 0.75;
    animation-fill-mode: backwards;
}
