@charset "UTF-8";
/* ----------------- Nous allons créer une animation pour le titre du header ------------------*/
@keyframes moveInLeft {
  /* Caractéristique de l'animation (à quoi l'objet va ressembler) avant le début (0%) */
  0% {
    opacity: 0;
    /* objet invisible */
    transform: translateX(-100px) rotate(0deg); }
  /* Caractéristique de l'animation à 80%) */
  80% {
    transform: translateX(10px); }
  /* Caractéristique de l'animation à 100% de la durée) */
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  /* Caractéristique de l'animation (à quoi l'objet va ressembler) avant le début (0%) */
  0% {
    opacity: 0;
    /* objet invisible */
    transform: translateX(100px); }
  /* Caractéristique de l'animation à 80%) */
  80% {
    transform: translateX(-10px); }
  /* Caractéristique de l'animation à 100% de la durée) */
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  /* Caractéristique de l'animation (à quoi l'objet va ressembler) avant le début (0%) */
  0% {
    opacity: 0;
    /* objet invisible */
    transform: translateY(30px); }
  /* Caractéristique de l'animation à 100% de la durée) */
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* SELECTEUR UNIVERSEL => Signe étoile : permet de selection tout le code HTML */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*Active l'héritage sur le box-sizing => l'héritage permet de transmettre les propriétés du parent aux enfants*/ }

html {
  font-size: 62.5%;
  /* est le calcul de 10px divisé par 16px, 10px (pour simplifier) étant la valeure qu'on souhaite pour la taille de police par défaut et 16px la taille de police par défaut actuelle */ }

body {
  box-sizing: border-box;
  /*Evite qu'un élement de dépasse de son parent à cause des marges/bordures ==> Ceci évite les affichages bizarres*/ }

body {
  /* PROPRIETES DE POLICE => on le fait dans le Body */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* Caractère police */
  /*font-size: 16px;  Taille de police */
  line-height: 1.7;
  /* Spécifie la hauteur d'une ligne de texte */
  color: #777;
  /* padding: 30px; */
  padding: 3rem;
  /* veut dire dans notre cas une taille égale à 3 * 10px soit 30px */ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /*backface-visibility: hidden;  la face arrière de l'élément est invisible, evite le reflet lors de l'animation */
  /* margin-bottom: 60px ; */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    /* Occupe toute la ligne en créant un espace au-dessus et en dessus également */
    /* font-size: 60px; */
    font-size: 6rem;
    font-weight: 400;
    /*letter-spacing: 35px;  Espacement entre les mots */
    letter-spacing: 3.5rem;
    /* Espacement entre les mots */
    animation-name: moveInLeft;
    /* Appel de l'animation créee */
    animation-duration: 2s;
    /* Durée de l'animation */
    animation-delay: 1s;
    /* Délai d'attente avant le démarrage de l'animation */
    animation-iteration-count: 3;
    /* Nbre de répétition de l'animation */
    animation-timing-function: ease-out;
    /* Définit une fonction de comment procede l'animation - acceleration en entrée / sortie par exemple */ }
  .heading-primary--sub {
    display: block;
    /* Renvoie les autres elemnts à la ligne */
    /* font-size: 20px; */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* Espacement entre les mots */
    animation: moveInRight 2s ease-out 1s 3; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #333edb, #db880b);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

/* -------------------Les composants ------------------------ */
/* -------Les pseudos classes avec les buttons------- */
.btn:link, .btn:visited {
  /* Séléctionne le bouton en état visité*/
  text-transform: uppercase;
  /* Transforme le style en majuscule */
  text-decoration: none;
  /* Enlève la déoration du lien (trait de soulignement) */
  padding: 1.5em 4rem;
  /* 15px de marge intérieure en haut et en bas ET 40px de marge intérieure à droite et à gauche */
  display: inline-block;
  /* boîte qui se comporte comme du texte, une manière de mettre les éléments inline tout en préservant leurs capacités d'éléments block, tels que la possibilité de définir une largeur et une hauteur, des marges et paddings top et bottom, etc. */
  border-radius: 10rem;
  /* Arrondis aux extrémités du bouton*/
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  /* Quand on survole avec la souris*/
  transform: translateY(-3px);
  transition: all .3s;
  /* Inserer une transition à l'ensemble des propriétés (hover, active etc), version courte*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* Rajoute de l'ombre*/ }
  .btn:hover::after {
    /* Quand on survole avec la souris l'élement fictif avant le bouton*/
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0; }

.btn:active {
  /* Quand on clique avec la souris*/
  transform: translateY(-1px); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  /* création d'un element fictif avant le bouton */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* place l'élement derrière */
  transition: all .4s; }

.btn--animated {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: moveInBottom 0.5 ease-in-out 0.75;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #333edb;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #333edb;
  padding: .3rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #333edb;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #333edb;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #333edb, #db880b);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("./01-Assets/nat-5.jpg"); }
    .card__picture--2 {
      background-image: url("../../01-Assets/nat-5.jpg"); }
    .card__picture--3 {
      background-image: url("../../01-Assets/nat-5.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc((2*(100% - 2 * 6rem) / 3 + 6rem)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc((100% - 3 * 6rem) / 4 + (6rem) + (100% - 6rem) / 2); }

.header {
  height: 95vh;
  /* background-image: url(./01-Assets/hero.jpg); */
  background-image: linear-gradient(to right bottom, rgba(51, 62, 219, 0.6), rgba(219, 136, 11, 0.863)), url(./01-Assets/hero.jpg);
  background-size: cover;
  /* Remplit complétement l'élement */
  background-position: top;
  /* Colle l'image toujours au dessus */
  position: relative;
  /* clip-path: polygon(x y, x y, x y, x y ); créer un polygone, coordonnées points dans le sens des éguilles d'une montre */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* Exemple code clip-path : https://bennettfeely.com/clippy/ */
  /* Nous allons placer le logo en haut à gauche */
  /* Nous allons placer le titre au centre */ }
  .header__logo-box {
    position: absolute;
    /* Permet à l'élement de se placer au-dessus d'un autre élement */
    /* top: 40px; */
    top: 4rem;
    /* left: 40px; */
    left: 4rem; }
  .header__logo {
    /* height: 35px; */
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* Permet à l'élement de se placer au-dessus d'un autre élement */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(51, 62, 219, 0.6), rgba(219, 136, 11, 0.863)), url(./01-Assets/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }
