/*  MAIN COLOR : #087f5b 
    MAIN GREY : #343a40 */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  line-height: 1;
  font-size: 20px;
}

.carrousel {
  width: 800px;
  height: 300px;
  margin: 200px auto;
  align-items: center;
  background-color: #087f5b;
  position: relative;
}

.nav {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 300px;
  color: #087f5b;
  position: absolute;
}

.nav_left {
  left: -30px;
  z-index: 4;
}

.nav_right {
  left: 400px;
  z-index: 4;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.main_right {
  width: 50%;
}
.main_left {
  width: 50%;
}

.texte {
  margin-bottom: 40px;
}

.auteur {
}

.photo {
  height: 350px;
  width: 350px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
} */

/***************************** CORRECTION *****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "COINY", sans-serif; */
  font-family: "SONO", sans-serif;
  line-height: 1;
}

.carousel {
  width: 800px;
  margin: 100px auto;
  background-color: #087f5b;
  border-radius: 8px;
  /* padding: 32px;
  padding-left: 86px;
  padding-right: 48px; */
  padding: 32px 48px 32px 86px;
  position: relative;

  display: flex;
  /* align-items: center; */
  gap: 86px;
}

img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

/* CONTROLS */

.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--left {
  /* En relation avec l'élément parent */
  left: 0;
  top: 50%;

  /* En relation avec l'élément lui-même */
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;

  /* En relation avec l'élément lui-même */
  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #087f5b;
}
