/*  MAIN COLOR : #087f5b 
    MAIN GREY : #343a40 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  line-height: 1;
  font-size: 20px;
}

.carrousel {
  width: 800px;
  height: 300px;
  margin: 200px auto;
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  background-color: #087f5b;
  position: relative;
}

.nav {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 300px;
  /* padding: 20px; */
  color: #087f5b;
  position: absolute;
}

.nav_left {
  /* position: absolute; */
  left: -30px;
  z-index: 4;
}

.nav_right {
  left: 400px;
  z-index: 4;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.main_right {
  width: 50%;
}
.main_left {
  width: 50%;
}

.texte {
  /* width: 50%; */
  margin-bottom: 40px;
}

.auteur {
  /* width: 50%; */
}

.photo {
  height: 350px;
  width: 350px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
}
