* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100%;
  background-image: url(../hero.jpg);
  position: relative;
}

nav {
  position: absolute;
}

.title {
  position: absolute;
}

body {
}
