/*  MAIN COLOR : #087f5b 
    MAIN GREY : #343a40 */

/* ------------------TEST BAMBA ------------------- */

/* .component {
  font-family: "lato", sans-serif;
  font-size: 18px;
  width: 80%;
  padding: 20px 30px;
  max-width: 600px;
  margin: 25px auto;
  background-color: #a2a5a823;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  box-shadow: aqua;
}

.component::before {
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  border-top: solid 4px #087f5b;
}

.en_tete {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #087f5b;
  font-weight: bold;
}

.number {
}

.title {
}

.icon {
  height: 20px;
  width: 20px;
}

.text {
  margin-left: 45px;
  padding-left: 5px;
}

.list {
  margin-left: 45px;
  padding-left: 25px;
  color: #a2a5a8e7;
} */

/* ------------------CORRECTION ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  color: #343a40;
  line-height: 1;
}

.component {
  font-size: 18px;
  width: 700px;
  padding: 20px 30px;
  margin: 100px auto;
  position: relative;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

/* .item::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  border-top: solid 4px #087f5b;
} */

/* .en_tete {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #087f5b;
  font-weight: bold;
} */

.number,
.title {
  font-size: 24px;
  font-weight: 600;
  /* color: #087f5b; */
}

.title {
}

.number {
  color: #ced4da;
}

.icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.content {
  grid-column: 2;
  display: none;
}

.content p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.content ul {
  color: #868e96;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* .content li {
    margin-bottom: 12px;
} */

/* OPEN STATE */
.open {
  border-top: solid 4px #087f5b;
}

.open .content {
  display: block;
}

.open .number,
.open .title {
  color: #087f5b;
}
